.login-container {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
}

button {
    display: flexbox;
    border-right: 10%;
    margin-top: 10px;
}

.button-group {
    text-align: center;
}

img {
    display: block;
    margin: 0px auto;
}